@import _variables
@import _include-media
html, body
  scrollbar-gutter: stable
  // height: 90vh
  width: 100%
  margin: 0
  padding: 0
  font-family: $fontNoto
  // overflow-x: hidden
  background: rgba(var(--color_bg), 1)
  #app
    overflow-x: hidden
    width: 100%

::-webkit-scrollbar
  width: 1rem
  min-width: 8px
  max-width: 8px
  height: 1rem
  min-height: 8px
  max-height: 8px

/* Track */
::-webkit-scrollbar-track
  background: rgba(var(--color_bg), 1)
  transition: background 0.3s ease
  width: 1rem
  min-width: 8px
  max-width: 8px
  height: 1rem
  min-height: 8px
  max-height: 8px

/* Handle */
::-webkit-scrollbar-thumb
  background: var(--color_p)
  transition: background 0.3s ease
  border-radius: 1rem
  transition: all 0.3s ease

/* Handle on hover */
::-webkit-scrollbar-thumb:hover
  filter: brightness(1.6)

.flex_c_h
  display: flex
  justify-content: center
  align-items: center
  flex-direction: row

.flex_c_v
  display: flex
  justify-content: center
  flex-direction: column

.flex_c
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

.flex_space
  justify-content: space-between

.flex_around
  justify-content: space-around

.flex_end
  display: flex
  justify-content: flex-end
  align-items: center
  flex-direction: row

.flex_start
  justify-content: flex-start

.flex_stretch
  justify-content: stretch

.flex_wrap
  flex-wrap: wrap

.gap1
  gap: 1rem

.gap2
  gap: 2rem

.p1
  padding: 1rem

.alignStretch
  align-items: stretch

.alignStart
  align-items: flex-start

.alignCenter
  align-items: center

.alignSelf
  align-self: flex-start

.roundCorner
  border-radius: 1rem

.flexInline
  display: inline-flex

.Section
  min-height: 100vh
  background: rgba(var(--color_bg), 1)

.fade-enter-active,
.fade-leave-active
  transition: opacity 0.5s ease, transform 0.5s ease

.fade-enter-from,
.fade-leave-to
  opacity: 0
  right: 50%
  transform: scale(1.1) translateY(0%) translateX(0%)

.navfade-enter-active,
.navfade-leave-active
  transition: opacity 0.2s ease, transform 0.5s ease

.navfade-enter-from,
.navfade-leave-to
  opacity: 0
  transform: scale(1.4) translateY(0%) translateX(0%)

.fadeWork-move,
.fadeWork-enter-active,
.fadeWork-leave-active
  transition: all 0.5s ease

.fadeWork-enter-from,
.fadeWork-leave-to
  opacity: 0
  transform: scale(0) translateY(0%) translateX(0%)

.fadeWork-leave-active
  position: absolute

.slideL-enter-active,
.slideL-leave-active
  transition: all 0.6s ease

.slideL-enter-from
  position: absolute
  opacity: 0
  width: 100vw
  height: 100%
  left: 0 !important
.slideL-leave-to
  left: 100% !important
  opacity: 0

.slideR-enter-active,
.slideR-leave-active
  transition: all 0.6s ease

.slideR-enter-from
  position: absolute
  opacity: 0
  width: 100vw
  height: 100%
  right: 0 !important
  left: 100% !important
.slideR-leave-to
  left: -50% !important
  opacity: 0

.transitionbg
  position: fixed
  height: 100vh !important
  width: 100vw !important
  top: 0
  left: 0
  z-index: 98
  pointer-events: none
  overflow: hidden
  .lottie-animation-container
    position: relative
    width: 100% !important
    height: 100% !important
    object-fit: cover
    top: 0
    // object-fit: cover
    svg
      position: absolute
      width: 100vw !important
      height: 100vh !important
      left: 50%
      transform: translateX(-50%) !important
      .pcolor
        rect
          transition: all 0.4s ease
          fill: var(--color_p) !important
      .bgcolor
        rect
          transition: all 0.4s ease
          fill: rgba(var(--color_bg), 1) !important

.CAButton
  font-family: $fontNoto
  color: rgba(var(--color_bg), 1)
  background: var(--color_p)
  padding: 0.2rem 2rem
  border-radius: 0.6vmax
  font-size: 1.4rem
  text-align: center
  font-variation-settings: 'wght' 700
  cursor: pointer
  transition: all 0.3s ease
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.8)
  text-transform: uppercase
  &:hover
    background: $WColor
    transform: scale(1.1) rotate(-2deg)
.marginTopButton
  margin-top: 2rem
.workinprogress
  background: rgba(var(--color_bg), 1)
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  font-family: $fontNoto
  text-align: center
  word-wrap: break-word
  h1
    margin: 0
    padding: 0 20px
    color: $nBlue
    font-size: 6rem
    word-wrap: break-word
    @include media('<=tablet')
      font-size: 5rem
    @include media('<=phone')
      font-size: 3rem
  p
    color: $WColor
    font-size: 2rem
    word-wrap: break-word
    @include media('<=tablet')
      font-size: 1.5rem
    @include media('<=phone')
      font-size: 1rem
  .social_media
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    margin-top: 2rem
    a
      color: $WColor
      margin-right: 3rem
      @include media('<=tablet')
        margin-right: 2rem
      @include media('<=phone')
        margin-right: 1rem
      &:hover
        color: $nBlue
        img
          opacity: 1
      &:last-child
        margin-right: 0
      img
        width: 5rem
        opacity: 0.5
        transition: opacity 0.5s ease-in-out

.scroller
  overflow-x: scroll
.inverseX
  transform: scaleX(-1)
