ul
    list-style: none
    width: 100%
    position: fixed
    background: rgba($BLcolor_1, 0.6)
    margin: 0
    li
        font-size: 1rem
        margin: 0px 10px
        &:last-child
            margin-right: 0px
        &:first-child
            margin-left: 0px
        a
            display: block
            color: #c5c5c5
            text-decoration: none
            padding: 10px
            transition: all 0.3s ease-in-out
            font-family: $fontNoto
            font-weight: 500
            letter-spacing: 2px
            &:hover
                color: #fff