.social_media
    display: flex
    justify-content: center
    align-items: center
    flex-direction: row
    margin-top: 2rem
    margin-bottom: 2rem
    a
        color: var(--color_p)
        background: rgb(var(--color_bg))
        border: none
        display: flex
        justify-content: center
        align-items: center
        padding: 2rem
        text-decoration: none
        border-radius: clamp( 1rem, 5vw, 1rem)
        transition: all 0.3s ease
        text-transform: none
        @include media('<phone')
            padding: 1rem
            flex-wrap: wrap
            max-width: 80%
            text-align: center
        &:last-child
            margin-right: 0
        &:hover
            filter: brightness(1.2)
            transform: scale(1.05)
            cursor: pointer
        img
            width: 5rem
            opacity: 0.5
            transition: opacity 0.5s ease-in-out
        .logo
            width: 6rem
            height: 6rem
            svg
                width: 6rem
                height: 6rem
                border-radius: clamp( 1rem, 1rem + 5vw, 1rem)
                polygon, path, rect
                    fill: var(--color_p)
                    transition: all 0.3s ease
        p
            font-size: 1rem
            font-weight: 600
            font-variation-settings: 'wght' 600
            margin: 0
            padding: 0
            margin-left: 1rem
        .smallInfo
            font-size: 2.1rem
            color: $WColor
            text-transform: uppercase

.shareButtons
    background: var(--color_p)
    color: var(--color_bg)
    font-weight: 700
    font-variation-settings: 'wght' 700
    padding: 1rem 1rem
    border-radius: clamp( 0.5rem, 15vw, 0.6rem)
    margin-bottom: 2rem
    font-size: 1rem
    text-align: center
    transition: all 0.3s ease
    .logo
        width: 1.5rem
        height: 1.5rem
        svg
            width: 1.5rem
            height: 1.5rem
            polygon, path, rect
                fill: var(--color_bg)
                transition: all 0.3s ease
    &:hover
        cursor: pointer
        transform: scale(1.1)
        background: $WColor
