.About
    top: 100vh
    min-height: 100vh
    z-index: 2
    background: var(--color_bg)
    transition: background 0.3s ease
    align-items: flex-start !important
    padding-top: 10vh
    border-bottom: 3px solid rgba($WColor, 0.5)

    .AboutTitle
        position: relative
        display: inline-block
        width: 100%
        transform: translateY(0%) translateX(0%)
        left: auto
        top: auto
        text-align: center
        width: clamp(200px,50vw, 100vw)