@import ../_base
@import ../_variables

.Start
    min-height: 100vh
    padding: 4rem clamp(5rem, 4%, 200px)
    top: 0
    z-index: 6
    background: rgba(var(--color_bg), 1)
    transition: background 0.3s ease
    border-bottom: 3px solid rgba($WColor, 0.5)
    display: flex
    justify-content: center
    flex-wrap: wrap
    position: relative
    @include media('<phone')
        padding: 2rem clamp(2rem, 2%, 200px)
        min-height: 100vh

.Headline
    font-family: $fontNoto
    font-size: clamp(3rem, 15vw, 5rem)
    // font-weight: 500
    font-variation-settings: 'wght' 500
    color: var(--color_p)
    top: 50%
    z-index: 3
    margin: 15vh 0px 0px 0px
    line-height: 1
    transition: color 0.3s ease
    text-align: center
    @include media('<phone')
        font-size: clamp(2.5rem, 15vw, 4rem)
        text-align: center
        margin: 20vh 0px 0px 0px
    b
        display: block
        // font-weight: 500
        font-variation-settings: 'wght' 640
        font-size: clamp(10rem, 40vw, 14.5rem)
        color: $WColor
        letter-spacing: 2px
        // margin-left: -7px
        text-align: center
        transform: scale(1)
        transition: opacity 0.3s ease, transform 0.3s ease
        @include media('<phone')
            font-size: clamp(5rem, 35vw, 10rem)
            text-align: center
            margin-left: 0px

.hideHeadline
    opacity: 0
    font-size: 0
    transform: scale(0) !important

.playcontainer
    width: 100%
    margin-top: 2rem
    display: flex
    justify-content: center
    flex-direction: row
    .playbutton
        width: 80px !important
        height: 80px !important
        &:hover
            cursor: pointer
        @include media('<phone')
            width: 70px !important

section
    min-height: 100vh
    z-index: 2

    .HeadlineBox
        margin: 4rem

    .ContentBox
        width: clamp(300px, 50vw, 1000px)
        height: calc(90vh - 4rem)
        // background: var(--color_p)
        margin: 4rem 0rem 0px 0rem
        opacity: 0.3
        border-radius: 10rem

.smallerHeadline
    font-size: clamp(8rem, 30vw, 10rem) !important
    @include media('<tablet')
        font-size: clamp(5rem, 15vw, 8rem) !important

//Slider Icon
.leftSlide, .rightSlide
    width: clamp(50px, 50vw, 100px)
    transition: all 0.3s ease
    z-index: 99
    top: 50%
    transform: translateY(-50%)
    display: block
    position: absolute
    &:hover
        cursor: pointer
        filter: brightness(1.6)
        #Circle circle
            opacity: 0.1
    #Circle circle
        fill: $WColor
        opacity: 0
        transition: opacity 0.3s ease
    #Rocket path
        fill: var(--color_p)
    #ShadowRocket path
        fill: var(--color_p)
        filter: brightness(0.8)
.leftSlide
    transform: scaleX(-1) translateY(-50%)
    left: 2rem
    @include media('<phone')
        left: 1rem
        width: 80px

.rightSlide
    right: 2rem
    @include media('<phone')
        right: 1rem
        width: 80px

//##############################################################################
//Videobox
//##############################################################################

.Showreelbox
    opacity: 0
    transition: opacity 0.3s ease
    pointer-events: none
.activeShowreel
    opacity: 1
    pointer-events: all
.Videobox
    position: fixed
    z-index: 99
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(var(--color_bg), 0.9)
    display: flex
    justify-content: center
    align-items: center
    backdrop-filter: blur(10px)
    .Video
        h3
            margin-top: 0rem
            font-family: $fontNoto
            font-size: clamp(2rem, 15vw, 3rem)
            font-weight: 500
            font-variation-settings: 'wght' 700
            color: var(--color_p)
            text-align: center
            @include media('<phone')
                position: fixed
                top: 40%
                left: 50%
                transform: translate(-50%, -50%)
                min-width: 350px
                font-size: clamp(1.5rem, 10vw, 2rem)
        p
            font-family: $fontNoto
            font-size: clamp(1.5rem, 10vw, 2rem)
            font-weight: 500
            font-variation-settings: 'wght' 500
            color: var(--color_p)
            text-align: center
            @include media('<phone')
                font-size: clamp(1rem, 5vw, 1.5rem)
                margin-top: 4rem
                position: fixed
                bottom: 35%
                left: 50%
                transform: translate(-50%, -50%)
                min-width: 350px
            a
                color: $WColor
                text-decoration: none
                opacity: 0.8
                transition: opacity 0.3s ease
                font-variation-settings: 'wght' 700
                &:hover
                    opacity: 1
