@import ../_base
@import ../_variables

.Start
    min-height: 100vh
    padding: 4rem clamp(5rem, 4%, 200px)
    top: 0
    z-index: 1
    background: rgba(var(--color_bg), 1)
    transition: background 0.3s ease
    border-bottom: 3px solid rgba($WColor, 0.5)
    display: flex
    justify-content: center
    flex-wrap: wrap
    @include media('<tablet')
        padding: 2rem clamp(2rem, 2%, 200px)

.Headline
    font-family: $fontNoto
    font-size: clamp(3rem, 15vw, 5rem)
    font-weight: 500
    color: var(--color_p)
    top: 50%
    z-index: 3
    margin: 15vh 0px 0px 0px
    line-height: 1
    transition: color 0.3s ease
    text-align: center
    @include media('<tablet')
        font-size: clamp(2rem, 10vw, 3rem)
        text-align: center
    b
        display: block
        font-weight: 500
        font-size: clamp(10rem, 40vw, 14.5rem)
        color: $WColor
        letter-spacing: 2px
        // margin-left: -7px
        text-align: center
        transform: scale(1)
        transition: opacity 0.3s ease, transform 0.3s ease
        @include media('<tablet')
            font-size: clamp(5rem, 20vw, 10rem)
            text-align: center
            margin-left: 0px

.hideHeadline
    opacity: 0
    font-size: 0
    transform: scale(0) !important

.playcontainer
    width: 100%
    margin-top: 2rem
    display: flex
    justify-content: center
    flex-direction: row
    .playbutton
        width: 100px !important
        height: 100px !important
        &:hover
            cursor: pointer

section
    min-height: 100vh
    z-index: 2

    .HeadlineBox
        margin: 4rem

    .ContentBox
        width: clamp(300px, 50vw, 1000px)
        height: calc(90vh - 4rem)
        // background: var(--color_p)
        margin: 4rem 0rem 0px 0rem
        opacity: 0.3
        border-radius: 10rem

.smallerHeadline
    font-size: clamp(8rem, 30vw, 10rem) !important
    @include media('<tablet')
        font-size: clamp(5rem, 15vw, 8rem) !important

//Slider Icon
.leftSlide, .rightSlide
    width: clamp(50px, 50vw, 100px)
    transition: all 0.3s ease
    z-index: 99
    top: 50%
    transform: translateY(-50%)
    display: block
    position: absolute
    &:hover
        cursor: pointer
        filter: brightness(1.6)
        #Circle circle
            opacity: 0.1
    #Circle circle
        fill: $WColor
        opacity: 0
        transition: opacity 0.3s ease
    #Rocket path
        fill: var(--color_p)
    #ShadowRocket path
        fill: var(--color_p)
        filter: brightness(0.8)
.leftSlide
    transform: scaleX(-1) translateY(-50%)
    left: 2rem
.rightSlide
    right: 2rem

//##############################################################################
//Videobox
//##############################################################################

.Showreelbox
    opacity: 0
    transition: opacity 0.3s ease
    pointer-events: none
.activeShowreel
    opacity: 1
    pointer-events: all
.Videobox
    position: fixed
    z-index: 99
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background: rgba(var(--color_bg), 0.7)
    display: flex
    justify-content: center
    align-items: center
